
* {
    border-radius: 30px !important; 
}


::-webkit-scrollbar {
    display: none !important;
}


.avatar-small, .avatar-large, .avatar-xlarge, .avatar-xxlarge {
    border-radius: 50% !important;
}
